{{ define "main" }}

<table class="no-break">
    <tr>
        <td>

            {{ partial "page-title" (dict "pageTitle" "CIBIL CREDIT AND FARM REPORT" "pageTitleSmall" "in partnership with <b>SatSure</b>" "className" "regular text-primary-blue mb-2" ) }}

            {{partial "ccir/report-heading" (dict "heading" "MOHANA PARAB" "className" "mb-0")}}

            {{ partial "ccir/horizontal-separator" }}

        </td>
        </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "CONSUMER ENQUIRY INFORMATION" "refNo" "5653AFG34" "className" "regular") }}
            {{ partial "ccir/table-style1" (dict "tableData" .Site.Data.ccfr.enquiry_input_info ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "FARM ENQUIRY INFORMATION" "className" "regular") }}
            {{ partial "ccir/report-base-table" (dict "tableData" .Site.Data.ccfr.farm_enquiry_info "footerTableColspan" "7") }}
        </td>
    </tr>
</table>

{{ partial "table-title" (dict "tableTitle" "BUREAU FOOTPRINT" "className" "regular") }}
{{ partial "ccir/checkboxes" (dict "checkboxesData" .Site.Data.ccfr.checkboxes) }}

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "SCORE AND ALGORITHM" "className" "regular") }}
            {{ partial "halfcircle-score-graph" (dict "scoreGraphs" .Site.Data.ccfr.score_graphs "footNote" true ) }}
            {{ partial "ccir/foot-note" (dict "note" "Place for footnote for above section") }}
            {{ partial "spacer" (dict "space" "35") }}
        </td>
    </tr>
</table>

{{ end }}