{{ define "main" }}

{{ partial "spacer" (dict "space" "25") }}
<table class="no-break">
    <tr>
        <td>
            {{ partial "ccir/table-style2" (dict "tableData" .Site.Data.ccir.borrower_details2 ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{partial "ccir/report-account-table" (dict "accountData" .Site.Data.ccfr.cons_tradeline_ac5)}}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
                {{partial "ccir/report-account-table" (dict "accountData" .Site.Data.ccfr.cons_tradeline_ac6)}}
        </td>
    </tr>
</table>

{{ end }}